---
import type { GetStaticPaths } from "astro";
import { listingList } from "../../queries/listings.js"
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = (async () => {
  return listingList.listings.data.map(({ attributes }) => ({
    params: { slug: attributes.slug },
    props: attributes
  }));
}) satisfies GetStaticPaths;

const articleData = Astro.props
---
<MainLayout>

<h1>{articleData.name}</h1>

</MainLayout>