---
import SinglePost from "../../components/SinglePost.astro";
import { listingList } from "../../queries/listings.js";

console.log(listingList.listings.data);

import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="test" description="test">
  <h1>Listing</h1>

  <div style="display: flex;">
    {
      listingList.listings.data.map(({ attributes }) => {
        <SinglePost
          slug={attributes.slug}
          name={attributes.biz_name}
          image={attributes.klient_img}
        />;
      })
    }
  </div>
</MainLayout>
