---
import SinglePost from "../../components/SinglePost.astro"
import { listingList } from "../../queries/listings.js"

import MainLayout from "../../layouts/MainLayout.astro"
---

<MainLayout>

<h1>Listing</h1>

<div style="display: flex;">
{
    listingList.posts.data.map((item) => (
        <SinglePost slug={item.attributes.slug} image={item.attributes.image} name={item.attributes.name} />
    ))
}
</div>

</MainLayout>