---
import SinglePost from "../../components/SinglePost.astro"
import {articlesList} from "../../queries/articles.js"

import MainLayout from "../../layouts/MainLayout.astro"
---

<MainLayout>
<div style="display: flex;">
{
    articlesList.posts.data.map((item) => (
        <SinglePost slug={item.attributes.slug} image={item.attributes.image} name={item.attributes.name} />
    ))
}
</div>
</MainLayout>