---
import MainLayout from "../layouts/MainLayout.astro"

const {
    title = "Моят Блог",
    description = "Кратко описание",
} = Astro.props

---

<MainLayout {title} {description}>
	<h1>Home</h1>
</MainLayout>
