---
const {title, description } = Astro.props;


// component import
import Head from "../components/Head.astro"
---

<html lang="bg">
<Head {title} {description}></Head>
<body>
    <slot></slot>
</body>
</html>